<h1>Traffic Forecasting</h1>
   
<form [formGroup]="slotForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width" >
    <mat-label>Slot Id</mat-label>
    <input formControlName="slotId" matInput placeholder="Ex. SLOT-1" value="SLOT-1">
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-label>Prediction Days</mat-label>
    <input formControlName="days" matInput placeholder="Ex. SLOT-1" value="365">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit">Submit!</button>
</form>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>View Forecasting</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
                [data]="lineViewChartData"
                [options]="lineViewChartOptions"
                [type]="lineChartType"></canvas>
    </mat-card-content>
  </mat-card>
</div>
